@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;900");

* {
  margin: 0;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #hsla(360, 100%, 100%, 0.5) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-x: hidden;
}

.section-heading-border {
  font-weight: 800 !important;
  font-size: 2.3em !important;
  margin-top: 1em;
  color: #000 !important;
}

.section-heading {
  color: gray;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .section-heading-border {
    font-size: 2em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
