.main {
  display: flex;
  gap: 2em;
  align-items: center;
}

.main-text {
  width: 50%;
}

.main-text > p {
  font-size: 1.2em;
  color: grey;
  text-align: justify;
}

.main-text > h2 {
  font-size: 14px;
  color: grey;
  letter-spacing: 1vw;
  text-transform: uppercase;
}

.main-text > h1 {
  font-weight: bold;
  font-size: 5vw;
}

.main-btns {
}

.main-btns > button {
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 150px;
  margin-right: 20px;
  padding: 10px;
  transition: 200ms all ease-in;
}

.main-btns > button:hover,
.main-btns > button::selection {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .main-text {
    width: 100%;
  }
}
