.main {
  background-image: url("./images/chris.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  padding-left: 10vw;
  padding-top: 10vw;
  transition: 500ms background ease-out;
  animation: 1.5s main-img-move;
}

@keyframes main-img-move {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.main-text {
  max-width: 600px;
  margin-right: 10vw;
}

.main-text > p {
  font-size: 20px;
  color: grey;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.main-text > h2 {
  font-size: 14px;
  color: grey;
  letter-spacing: 1.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-text > h1 {
  font-weight: bold;
  font-size: 5vw;
  margin: 0;
  padding: 0;
}

.main-btns {
  margin-top: 20px;
}
.main-btns > button {
  border: 2px solid #000;
  font-weight: bold;
  background-color: transparent;
  border-radius: 20px;
  width: 150px;
  margin-right: 20px;
  padding: 10px;
  transition: 200ms all ease-in;
}

.main-btns > button:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1120px) {
  .main {
    background: none;
  }
}
