.main {
  background-position: right;
  background-image: url("./images/chris.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-text {
  padding-left: 10vw;
  padding-top: 10vw;
  width: 800px;
}

.main-text > p {
  font-family: "";
  font-size: 20px;
  color: grey;
}

.main-text > h2 {
  font-family: "";
  font-size: 14px;
  color: grey;
  letter-spacing: 6px;
  text-transform: uppercase;
}
