.ml-container {
  min-height: 100vh;
  background-repeat: none;
  background-size: cover;
  background-image: url("images/ML-Drone.jpeg");
  background-attachment: fixdsed;
  background-position: right;
}

.ml-sidebar {
  height: 100%;
  background: linear-gradient(
    180deg,
    #112632 35.94%,
    rgba(158, 158, 158, 0.205298) 99.99%,
    rgba(196, 196, 196, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 400;
}

.ml-sidebar-controls {
  max-width: 100%;
  overflow-x: scroll;
}

.ml-sidebar-controls::-webkit-scrollbar {
  display: none;
}

.ml-project-link {
  text-decoration: none;
  color: white !important;
  width: 100%;
}

.ml-project-link:hover {
  text-decoration: none;
}

.ml-sidebar .selected {
  font-weight: 700 !important;
  border-bottom: 4px solid white;
}

.w-85 {
  width: 85%;
}

.ml-project-container {
  height: 100vh;
  box-sizing: border-box;
}

.ml-project-header {
  bordder-bottom: 2px solid white;
  font-size: 48px;
  font-weight: 700;
  opacity: 0.8;
}

.ml-project-details {
}
.ml-project-desc {
  background-color: #1b1b1b;
  font-weight: 300;
}

.ml-project-graph {
  background-color: rgba(27, 27, 27, 1.7);
  backgrodund-color: black;
}

#ml-graph {
  margin-top: auto;
  min-height: 325px;
  width: 100% !important;
}

@media screen and (max-width: 800px) {
  .ml-sidebar {
    z-index: 1;
  }
  .ml-sidebar-controls {
    display: flex;
    gap: 2em;
    width: auto;
  }
  .ml-sidebar-controls a {
    white-space: nowrap;
  }
}
