.ml-container {
  min-height: 100vh;
  background-repeat: none;
  background-size: cover;
  background-image: url("images/ML-Drones.jpg");
  background-attachment: fidxed;
  background-position: center;
  background: linear-gradient(180deg, #fff, #000);
  border-top: 4px solid orange;
}

.ml-sidebar {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #112632 35.94%,
    rgba(158, 158, 158, 0.205298) 99.99%,
    rgba(196, 196, 196, 0) 100%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 400;
  z-index: 0;
}

.ml-sidebar-controls {
  max-width: 100%;
  overflow-x: scroll;
}

.ml-sidebar-controls::-webkit-scrollbar {
  display: none;
}

.ml-project-link {
  text-decoration: none;
  color: white !important;
  width: 100%;
}

.ml-project-link:hover {
  text-decoration: none;
}

.ml-sidebar .selected {
  font-weight: 700 !important;
  border-bottom: 4px solid white;
}

.w-85 {
  width: 85%;
}

.ml-project-container {
  height: 100vh;
  box-sizing: border-box;
}

.ml-project-header {
  bordder-bottom: 2px solid white;
  font-size: 48px;
  font-weight: 700;
  opacity: 0.8;
}

.ml-project-details {
  background-color: rgba(27, 27, 27, 0.88);
  background: rgb(11, 22, 40);
  background: radial-gradient(
    circle,
    rgba(11, 22, 40, 0.8) 0%,
    rgba(0, 0, 0, 0.96) 100%
  );
}

.ml-project-desc {
  font-weight: 300;
}

.project-link-icon {
  font-size: 1.125rem;
  margin-top: -4px;
}

.ml-project-graph {
  backgrodund-color: black;
}

#ml-graph {
  margin-top: auto;
  min-height: 325px;
  width: 100% !important;
}

@media screen and (max-width: 992px) {
  .ml-sidebar {
    height: auto;
    z-index: 1;
    background: linear-gradient(
      180deg,
      #112632 35.94%,
      rgba(0, 0, 0, 0.8) 99.99%,
      rgba(196, 196, 196, 0) 100%
    );
  }
  .ml-sidebar-controls {
    display: flex;
    gap: 2em;
    width: auto;
  }
  .ml-sidebar-controls a {
    white-space: nowrap;
  }
  .ml-project-header {
    margin-right: 0px !important;
    font-size: 1.2rem;
    display: none;
  }
  .ml-container {
    min-height: unset;
  }
  .ml-project-container {
    max-height: 100vh;
    height: unset;
  }
}
