.navbar-option {
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none !important;
  color: black;
  transition: 400ms color ease-in;

  min-width: 50px;
  max-width: 50px;
  text-overflow: clip;
}

.navbar-option:hover {
  color: royalblue;
}
