.navbar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-left-logo {
  border: 3px solid black;
  object-fit: contain;
  width: 45px;
  height: 45px;
  border-radius: 999px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  margin-right: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left-logo-text > h1 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.navbar-left-logo-text > p {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.navbar-right {
  display: flex;
}
